body {
  background-color: black;
}
* {
  color: gold;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-style: italic;
}
h1 {
  font-weight: 900;
}
form .boton-enviar {
  color: black !important;
}
form .boton-reset {
  color: black !important;
}
.imgbannersedes {
  width: 100vw;
}
.bannersedes{
  display: flex;
  flex-wrap: wrap;
}
.nav li {
  list-style: none;
  padding: 30px;
  font-size: 20px;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
span .logoTop {
  width: 270px;
}
.registro li {
  list-style: none;
  display: flex;
  padding: 10px;
  bottom: 42px;
  left: 1600px;
}
.imagenesInicio {
  display: flex;
  align-content: center;
}
.imgGym {
  width: 626px;
  height: 475px;
}
.imgLockers {
  width: 626px;
  height: 475px;
}
.imgCaminadora {
  width: 626px;
  height: 475px;
}
.textoNosotros {
  font-size: 40px;
  color: gold;
}
.videoyt {
  position: relative;
  left: 45px;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: black;
}
.imgCrossfit {
  width: 400px;
  height: 275px;
}
.funcionalImg {
  width: 400px;
  height: 275px;
}
.imgMusculacion {
  width: 400px;
  height: 275px;
}
.imgCycle {
  width: 400px;
  height: 275px;
}
.sizeh5 h5 {
  font-size: 40px;
  position: relative;
  left: 450px;
  bottom: 250px;
}
.listaInfoFooter li {
  list-style: none;
  padding: 35px;
  font-size: 30px;
}
.h6NumeroFooter {
  font-size: 15px;
  padding: 35px;
  bottom: 45px;
  left: 55px;
}
.h6MailFooter {
  font-size: 15px;
  bottom: 45px;
  left: 80px;
}
.iconoInsta,
.iconoWhatsapp,
.iconoYt,
.iconoTiktok {
  width: 40px;
  height: 40px; 
  left: 150px;
  bottom: 15px;
}
.footer {
  background-color: #1c1902;
  padding-left: 550px;
}
.h2autor {
  bottom: 48px;
  left: 530px;
}
