body {
  background-color: black;
}
* {
  color: gold;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-style: italic;
}
h1 {
  font-weight: 900;
}
form .boton-enviar {
  color: black !important;
}
form .boton-reset {
  color: black !important;
}
.imgbannersedes {
  width: 100vw;
}
.nav {
  list-style: none;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
