/*GENERAL*/
body {
  background-color: black;
  width: calc(100vw - (100vw - 100%));
}
* {
  font-family: "Poppins";
  
}
/*GRIDS SEDES*/
.container-sedes{
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
   "header"
   "nav"
   "main"
   "footer"
  ;
}
header {grid-area: header;}
nav {grid-area: nav;}
main{grid-area: main;}
footer{grid-area: footer;}



/*HEADER*/
header .flexHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 12px;
  padding-right: 12px;
}
.style-button {
  color: black;
  background-color: gold;
  border-radius: 10px;
  padding: 5px;
}

.style-button-contactanos {
  color: gold;
  background-color: black;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}
.logoTop {
  width: 400px;
}
.logoTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/*NAV*/
nav .divClass {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  border-color: gold;
}

nav {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display:flex;
  justify-content: flex-end;
  margin-right: 3rem;
}

.aNav {
  display: inline-block;
  border-color: gold;
  text-decoration: none;
  color: gold;
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;
  border-inline-color: gold !important;
  padding: 10px;
  margin: 10px;
}
.aNav:hover {
  background-color: gold;
}

/*MAIN INDEX*/
.imgIndex {
  margin-top: 8rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gymIndex {
  width: 380px;
  height: 280px;
}
.piletaIndex {
  width: 380px;
  height: 280px;
}
.lockersIndex {
  width: 380px;
  height: 280px;
}
.cardIndex {
  padding: 20px 20px 20px 20px;
  background-color: gold;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

/*FOOTER*/
.pieDePagina {
  width: 100vw;
  background-color: gold;
  color: black;
  font-family: "Poppins";
  display: block;
}
.pieDePagina h2 {
  width: 100%;
  background-color: gold;
  color: black;
  font-family: "Poppins";
  font-weight: bold;
}
.pieDePagina .grupo1 .boxInfo h2 {
  padding-left: 30px;
}
.pieDePagina .grupo1 .box ul li {
  color: black;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
  padding-right: 40px;
}
.pieDePagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid: gap 50px;
  padding: 45px 0px;
}
.pieDePagina .grupo1 .redSocial a {
  text-decoration: none;
  width: 100px;
  height: 100px;
  line-height: 45px;
  margin-right: 10px;
  background-color: #f2fe2c;
  text-align: center;
  padding: 20px;
  transition: all 300ms ease;
}
.pieDePagina .grupo1 .redSocial a:hover {
  color: darkgoldenrod;
}
.pieDePagina .grupo2 {
  background-color: #f2fe2c;
  padding: 15px 10px;
  text-align: center;
  color: black;
}

/*MEDIA DESKTOP*/
@media (max-width: 1024px) {
  .gymIndex {
    width: 280px;
    height: 200px;
  }
  .piletaIndex {
    width: 280px;
    height: 200px;
  }
  .lockersIndex {
    width: 280px;
    height: 200px;
  }
  .horariosImg {
    width: 100vw;
  }
}

/*MEDIA MOBILE*/
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
  }
  .aNav {
    display: flex;
    justify-content: space-between;
  }
  .logoTop {
    width: 200px;
  }
  .imgIndex {
    display: block;
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
  }
  .gymIndex {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
  }
  .piletaIndex {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
  }
  .lockersIndex {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
  }
  .pieDePagina .grupo1 .grupo2 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid: gap 30px;
    padding: 35px 0px;
  }
  .divHorarios {
    display: block;
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
  }
  .horariosImg {
    width: 100%;
  }
}

li .card-itemsplanes {
  color: black !important;
}

/*MAIN SEDES*/
.imgbannersedes {
  width: 480px;
  overflow: auto;
  margin-bottom: 1rem;
}
.bannersedes {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.registro li {
  list-style: none;
  padding: 10px;
  color: gold;
}
.registro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sizeh5 h5 {
  font-size: 40px;
  left: 450px;
  bottom: 250px;
}

h4 {
  font-size: 30px;
  font-weight: bold;
}

.coloryellow {
  background-color: gold;
}
.colorwhite {
  background-color: white;
}
h1 {
  color: gold;
}
form {
  color: gold;
}
/*MAIN CLASES/INICIO*/
.card {
  background-color: gold;
}
.card-header {
  color: black;
  font-family: "Poppins";
}
.card-title {
  color: black;
  font-family: "Poppins";
}
.card-text {
  color: black;
  font-family: "Poppins";
}
.position-button {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
/*MAIN PLANES*/

.planes .cardPlanes:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0, 2);
}
.planes .cardPlanes h4 h5 {
  font-weight: bolder;
}
/*MAIN HORAIOS*/
.divHorarios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
  border-radius: 40px;
}
/*CARD PLANES*/
.container-planes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardPlanes{
  background-color: gold;
  width: 330px;
  height: auto;
  margin: 20px;
  border-radius: 10px;
}
.card-title h4 {
  padding: 25px;
  text-align: center;
  margin: 10px;
}
.cardPlanes ul li {
  padding: 8px;
  margin: 8px;
}
.cardPlanes{
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 8px;
  text-decoration: none;
}
.cardPrecio{
  font-size: medium;
}

/*CARD CLASES*/
.container-clases {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardClases {
  background-color: gold;
  width: 370px;
  height: auto;
  margin:60px;
  border-radius: 10px;
}
.card-image {
  height: 270px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}
.funcional {
  background-image: url(https://cdn.euroinnova.edu.es/img/subidasEditor/curso%20online%20de%20entrenador%20personal%20y%20fitness-1599463348.jpg);
}
.musculacion {
  background-image: url(https://i.pinimg.com/originals/da/be/2d/dabe2d869332159ecbe3c75dea240bd6.jpg);
}
.crossfit {
  background-image: url(https://i.pinimg.com/originals/1b/2f/0a/1b2f0a363dff6c6a4ab95023855fffc8.jpg);
}
.cycle{
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/flywheel-1525623246.jpg?resize=1200:*);
}
.cardClases h3 {
  padding: 10px;
}
.cardClases p {
  padding: 10px;
}
.cardClases a{
  background-color: black;
  color: gold;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 8px;
  text-decoration: none;
}
.cardPlanes:hover{
background-color: rgb(62, 62, 62);
color: gold;
cursor: pointer;
transform: scale(1.03);
transition: all 1s ease;
}
.cardClases:hover{
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}